body{
    background-color: #000000;
    text-align: center;
}

#app-title{
    font-family: Arial;
}

.download-link{
    color: aquamarine;
}

#slogan{
    font-family: Verdana;
    font-size: 50px;
}
